// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$red: #f05555;
$gray-100: #f7f7f7;
$gray-200: #e4e4e4;
$gray-900: #30302e;
$beige-100: #f0ebe3;
$primary: #5fbc65;
$secondary: #0a497b;
$success: $secondary;
$info: $gray-900;
$warning: $primary;
$danger: $red;
$black: #000000;


// Text Colors
$text-color-1: #111111;
$text-color-2: $primary;
$text-color-3: $black;
$text-color-4: #031532;

// Font Family
$font-family-primary: "europa", serif;
$font-family-secondary: "europa", sans-serif;

// Font Size
$font-size-base: 1rem;

// Font Weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-black: 900;
$font-weight-base: $font-weight-light;
$line-height-base: 1.5;

// Header
$h1-font-size: $font-size-base * 5.3125;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.375;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base * 1.125;
$h1-line-height: $h1-font-size * 1.3;
$h2-line-height: $h2-font-size * 1.3;
$h3-line-height: $h3-font-size * 1.3;
$h4-line-height: $h4-font-size * 1.3;
$h5-line-height: $h5-font-size * 1.3;
$h6-line-height: $h6-font-size * 1.3;

// Header Touch
$h1-font-size-touch: $font-size-base * 2.75;
$h2-font-size-touch: $font-size-base * 2.25;
$h3-font-size-touch: $font-size-base * 1.7;
$h4-font-size-touch: $font-size-base * 1.275;
$h5-font-size-touch: $font-size-base * 1;
$h6-font-size-touch: $font-size-base * 0.8;
$h1-line-height-touch: $font-size-base * 2.75;
$h2-line-height-touch: $font-size-base * 2.25;
$h3-line-height-touch: $font-size-base * 1.5;
$h4-line-height-touch: $font-size-base * 1.5;
$h5-line-height-touch: $font-size-base * 1.5;
$h6-line-height-touch: $font-size-base * 1.5;


// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    ultra: 1524px
);

// Grid containers
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    ultra: 1424px
);

$btn-padding-y: 0.9375rem !default;
$btn-padding-x: 4rem !default;
$btn-font-size: $h3-font-size !default;
$btn-border-radius: 3.125rem !default;

$btn-padding-y-touch: 0.5rem !default;
$btn-padding-x-touch: 1.875rem !default;
$btn-font-size-touch: $h6-font-size !default;
$btn-border-radius-touch: 1.875rem !default;

$btn-font-weight: $font-weight-semibold !default;
$btn-border-width: 0.1875rem !default;

$input-btn-padding-y: $btn-padding-y !default;
$input-btn-padding-x: $btn-padding-x !default;
$input-btn-font-size: $btn-font-size !default;
$input-box-shadow: none !default;
