<header id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ data.home_page }}">
            <img class="navbar-brand-logo" src="{{ data.logo }}" alt="Image Description">
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-default"><i class="fas fa-bars"></i></span>
            <span class="navbar-toggler-toggled"><i class="fas fa-close"></i></span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-white active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-white" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-white" href="#">Case Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-white" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold text-white pr-0" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- End Collapse -->
    </div>
</header>
