// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    border-top: 1px solid $gray-100;

    .section-getintounch {

        input[type="text"] {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        button[type="button"] {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }

    .section-social-media {

        h5 {
            position: relative;
            padding-bottom: 0.5rem;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 2.5rem;
                height: 2px;
                background: $primary;
            }
        }
    }

    .section-copyright {

        .nav {

            li {
                a {
                    padding-top: 0;
                    padding-bottom: 0;
                    border-right: 1px solid $white;

                }

                &:last-child {
                    a {
                        border: 0;
                    }
                }
            }
        }
    }
}
