// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header.navbar {
    padding: 0.9375rem 0;

    --bs-navbar-nav-link-padding-x: 3.125rem;

    .navbar-brand {

        .navbar-brand-logo {
            width: 140px;
        }
    }

    .navbar-nav {

        li:last-child > a {
            padding-right: 0;
        }
    }
}

